version: "2"
services:
  indico-web: &indico-web
    build: indico
    command: /opt/indico/run_indico.sh
    depends_on:
      - indico-redis
      - indico-celery
    ports:
      - "8000:8000"
    links:
      - indico-redis
    environment:
      - BASEURL=https://test-mvg.web.cern.ch
      - PGHOST=indico-postgres
      - PGUSER=indico
      - PGPASSWORD=indicopass
      - PGDATABASE=indico
      - SMTP_SERVER=localhost
      - SMTP_PORT=8025
      - SMTP_LOGIN
      - SMTP_PASSWORD
      - SMTP_USE_TLS=no
      - INDICO_DEFAULT_TIMEZONE
      - INDICO_DEFAULT_LOCALE
      - INDICO_ROUTE_OLD_URLS=False
      - INDICO_CHECKIN_APP_CLIENT_ID
      - INDICO_CUSTOMIZATION_DIR=/opt/indico/custom
      - INDICO_CUSTOMIZATION_DEBUG=False
      - INDICO_LOGO_URL
      - REDIS_CACHE_URL=redis://indico-redis:6379/1
      - CELERY_BROKER=redis://indico-redis:6379/0
      - SQLALCHEMY_DATABASE_URI
    volumes:
      - './data/archive:/opt/indico/archive'
      - './data/log/nginx:/opt/indico/log/nginx'
      - 'static-files:/opt/indico/static'
      - 'customization:/opt/indico/custom'
    tmpfs:
      - /opt/indico/tmp
  indico-celery:
    <<: *indico-web
    command: /opt/indico/run_celery.sh
    depends_on:
      - indico-redis
    ports: []
    volumes: []
  indico-redis:
    image: redis
  indico-postgres:
    image: centos/postgresql-94-centos7
    environment:
      - POSTGRESQL_USER=indico
      - POSTGRESQL_PASSWORD=indicopass
      - POSTGRESQL_DATABASE=indico
      - POSTGRESQL_ADMIN_PASSWORD=indicopass
  indico-nginx:
    build: nginx
    ports:
      - "8080:8080"
    volumes_from:
      - indico-web
volumes:
  static-files:
  customization:
