version: "2"
services:
  indico-web: &indico-web
    image: indico:latest
    command: /opt/indico/run_indico.sh
    depends_on:
      - indico-redis
      - indico-celery
    ports:
      - "59999"  # tcp socket port
    links:
      - indico-redis
      - indico-postgres
    env_file:
      - indico.env
    volumes:
      - './data/archive:/opt/indico/archive'
      - './data/log/nginx:/opt/indico/log/nginx'
      - 'customization:/opt/indico/custom'
      - 'static-files:/opt/indico/static'
    tmpfs:
      - /opt/indico/tmp
  indico-static:
    build: indico/static
  indico-celery:
    <<: *indico-web
    command: /opt/indico/run_celery.sh
    depends_on:
      - indico-redis
    ports: []
    volumes: []
  indico-redis:
    image: redis
    volumes:
      - './data/redis:/data'
  indico-postgres:
    image: centos/postgresql-96-centos7
    environment:
      - POSTGRESQL_USER=indico
      - POSTGRESQL_PASSWORD=indicopass
      - POSTGRESQL_DATABASE=indico
      - POSTGRESQL_ADMIN_PASSWORD=indicopass
  indico-nginx:
    build: nginx
    env_file:
      - indico.env
    ports:
      - "8080:8080"
    links:
      - indico-web
      - indico-static
    volumes_from:
      - indico-web
volumes:
  static-files:
  customization:
