SERVICE_HOSTNAME=localhost
SERVICE_PORT=9090
SERVICE_PROTOCOL=http
PGHOST=indico-postgres
PGUSER=indico
PGPASSWORD=indicopass
PGDATABASE=indico
PGPORT=5432
SMTP_SERVER
SMTP_PORT
SMTP_LOGIN
SMTP_PASSWORD
SMTP_USE_TLS
INDICO_DEFAULT_TIMEZONE=Europe/Zurich
INDICO_DEFAULT_LOCALE=en_GB
INDICO_ROUTE_OLD_URLS
INDICO_CHECKIN_APP_CLIENT_ID
INDICO_CUSTOMIZATION_DIR
INDICO_CUSTOMIZATION_DEBUG
INDICO_LOGO_URL
REDIS_CACHE_URL=redis://indico-redis:6379/1
CELERY_BROKER=redis://indico-redis:6379/0
C_FORCE_ROOT=true
USE_EXTERNAL_DB
INDICO_STORAGE_DICT={'default': 'fs:/opt/indico/archive'}
INDICO_AUTH_PROVIDERS={}
INDICO_IDENTITY_PROVIDERS={}
INDICO_LOCAL_IDENTITIES=yes
SECRET_KEY=pleasereplacemewithsomethingrandom
