SMTP_SERVER
SMTP_PORT
SMTP_LOGIN
SMTP_PASSWORD
SMTP_USE_TLS
INDICO_DEFAULT_TIMEZONE=Europe/Zurich
INDICO_DEFAULT_LOCALE=en_GB
INDICO_ROUTE_OLD_URLS
INDICO_CHECKIN_APP_CLIENT_ID
INDICO_CUSTOMIZATION_DIR
INDICO_CUSTOMIZATION_DEBUG
INDICO_LOGO_URL
